@tailwind base;
@tailwind components;
@tailwind utilities;


.onhover:hover .jobname{
  text-decoration: underline;
}

body{
  margin: 0;
  overflow:hidden;
}

.btn-border{
  border: 2px solid rgb(59 130 246)
}

.btn-border:hover{
background-color: rgb(59 130 246);
color: white;

}